---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<Header/>
		<slot />
		<Footer/>
	</body>
</html>

<style>
	@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
	:root {
	--color-primary:      #eb478b;   /* rosa fuerte */
	--color-primary-light:#e287af;   /* rosa suave */
	--color-bg:           #fefdfb;   /* fondo claro */
	--color-bg-alt:       #ffc8dd;   /* acento claro */
	--color-text:         #1b0e13;   /* texto oscuro */
	--color-text-alt:     #4a2a36;   /* texto secundario */
	--color-text-light:     #676766; 

}

	:global(*) {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	
	html {
		height: 100%;
		width: 100vw;
		max-width: 100%;
		overflow-x: hidden;
	}
	
	body {
		width: 100vw;
		max-width: 100%;
		min-height: 100vh;
		font-family: "Plus Jakarta Sans", sans-serif;
		font-weight: 500;
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: var(--color-bg);
		color: var(--color-text);
		overflow-x: hidden;
		position: relative;
	}
	
	body > :global(*:nth-child(2)) {
		flex: 1;
	}
	:global(a){
		cursor: pointer;
		text-decoration: none;
	}
	:global(img){
		max-width: 100%;
		height: auto;
		display: block;
	}
	:global(h1, h2, h3, h4, h5, h6) {
		font-family: 'Playfair Display', serif;
		color: var(--color-primary);
	}
	:global(.container) {
		max-width: 1100px;
		width: 100%;
		padding: 0 20px;
	}
</style>
